@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #594ed2;
  --secondary-color: #1c1c1c;
  --tertiary-color-gray-1: #9e9e9e;
  --tertiary-color-gray-2: #dfdfdf;
  --tertiary-color-gray-3: #f0f0f0;
  --quaternary-color: #ffffff;
}
